{# main menu #} {% load textblock_tags i18n %}

{% get_current_language as lang %}
{% get_navigation "1" as nav %}
<div class="menu-main">
    <ul class="menu-main__items">
        {% for item in nav %}
        <li class="menu-main__item" data-show="#{{ item.slug }}" data-hide=".modal">
            {% t item 'title' lang %}
        </li>
        {% endfor %}
    </ul>
</div>