{# social #} {% load static i18n %}

<div class="menu-social">
    <ul class="menu-social__items">
        {% if request.user.is_staff %}
        <li class="menu-social__item">
            <a target="_blank" href="{% url 'admin:index' %}">
              <img src="{% static 'site/img/icons/settings.svg' %}" />
            </a>
        </li>
        <li class="menu-social__item">
            <a target="_blank" href="{% url 'get_testimonies' %}">
              <img src="{% static 'site/img/icons/save.svg' %}" />
            </a>
        </li>
        {% endif %}
        <li class="menu-social__item">
            <a target="_blank" href="https://twitter.com/herrigune?lang=es">
              <img src="{% static 'site/img/icons/twitter.svg' %}" />
            </a>
        </li>
        <li class="menu-social__item">
            <a target="_blank" href="https://www.instagram.com/herriguneleioa/?hl=es">
                <img src="{% static 'site/img/icons/instagram.svg' %}" />
            </a>
        </li>
        <li class="menu-social__item">
            <a target="_blank" href="https://es-es.facebook.com/herrigune/">
                <img src="{% static 'site/img/icons/facebook.svg' %}" />
            </a>
        </li>
        {% if request.user.is_staff %}
        <li class="menu-social__item">
            <a href="{% url 'logout' %}">
              <img src="{% static 'site/img/icons/log-out.svg' %}" />
            </a>
        </li>
        {% endif %}
    </ul>
</div>
