{# Share widget #} {% load static %}

<div class="share">
    {% if request.user.is_staff %}
    <a href="{% url 'admin:map_testimony_change' pk %}" target="_blank">
        <img src="{% static '/site/img/icons/edit.svg' %}" />
    </a>
    {% endif %}
    <img class="share__label" data-show="#share-{{ pk }}" src="{% static '/site/img/icons/share-2.svg' %}" />
    <div class="share__items" id="share-{{ pk }}">
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ title }}: {{ request.build_absolute_uri }}#{{ pk }}">
            <img src="{% static '/site/img/icons/twitter.svg' %}" />
        </a>
        <a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ request.build_absolute_uri }}#{{ pk }}&p[title]={{ title }}" target="_blank">
            <img src="{% static '/site/img/icons/facebook.svg' %}" />
        </a>
        <span class="clipboard-action" data-copy="{{ request.build_absolute_uri }}#{{ pk }}">
            <img src="{% static '/site/img/icons/clipboard.svg' %}" />
        </span>
    </div>
</div>
