{# signature #} {% load static %}

<div class="signature">
    <div class="signature__logos">
        <a href="//www.durango-udala.net" target="_blank">
            <img class="signature__logo" src="{% static 'site/img/logos/logo-leioa.png' %}" />
        </a>
        <a href="//solasgune.com" target="_blank">
          <img class="signature__logo" src="{% static 'site/img/logos/logo-orokorra.png' %}" />
        </a>
    </div>
</div>
