{# view categories #}

<div class="view-categories">
    <div class="view-categories__items three-columns">
        {% for category in categories %}
        <div class="item-category">
            {% if category.image %}
            <img class="item-category__image" src="{{ category.image.url }}" />
            {% endif %}
            <h3 class="item-category__name">
                {{ category.name }}
            </h3>
            <div class="item-category__content">
                {{ category.content | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
