{# Default form #}
{% load i18n static %}

<form action="{{ action }}" enctype="multipart/form-data" method="POST" class="form {% if modifier %}form--{{ modifier }}{% endif %}">
    {% csrf_token %}
    {% include 'forms/form-errors.html' with form=form %}
    {% for field in form %}
        <div class="form__field form-field--{{ field.name }} {% if modifier %}form__field--{{ modifier }}{% endif %}">
            <label class="form__label form-label--{{ field.name }} {% if modifier %}form__label--{{ modifier }}{% endif %} {% if field.field.required %}required{% endif %}"
                  for="{{ field.name }}">
                {{ field.label }}
            </label>
            {{ field }}
            <div class="form__helptext {% if modifier %}form-helptext--{{ modifier }}{% endif %}">
                {{ field.help_text | safe }}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                <ul class="form__errors {% if modifier %}form-errors--{{ modifier }}{% endif %}">
                    <li class="form__error {% if modifier %}form-error--{{ modifier }}{% endif %}">
                        {{ error }}
                    </li>
                </ul>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <input class="form__submit" type="submit" value="Enviar" />
</form>
