@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers. */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE. */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms
 * ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding in Chrome and Safari on macOS. */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
 * ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc
 * ========================================================================== */
/**
 * Add the correct display in IE 10+. */
template, [hidden] {
  display: none; }

/**
 * Add the correct display in IE 10. */
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Light.eot?") format("eot"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Italic.eot?") format("eot"), url("../fonts/Rubik-Italic.woff") format("woff"), url("../fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Bold.eot?") format("eot"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-BoldItalic.eot?") format("eot"), url("../fonts/Rubik-BoldItalic.woff") format("woff"), url("../fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "icons";
  src: url("../img/markers/icons.eot?") format("eot"), url("../img/markers/icons.woff") format("woff"), url("../img/markers/icons.ttf") format("truetype"), url("../img/markers/icons.svg") format("svg");
  font-weight: bold;
  font-style: italic; }
.hidden,
.rehidden {
  display: none !important; }

@media screen and (min-width: 768px) {
  .mobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .not-mobile {
    display: none; } }

.flex-between {
  display: flex;
  justify-content: space-between; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  max-width: 100vw;
  font-family: "rubik", sans-serif;
  font-size: 2.2rem; }

p {
  margin: 0; }

ul, li {
  padding: 0;
  margin: 0; }

figure {
  margin: 0; }

h1 {
  font-family: "rubik", sans-serif;
  font-size: 4.8rem; }

h2 {
  font-family: "rubik", sans-serif;
  font-size: 3.6rem; }

h3 {
  font-family: "rubik", sans-serif;
  font-size: 2.4rem; }

h4 {
  font-family: "rubik", sans-serif;
  font-size: 1.2rem; }

h5 {
  font-family: "rubik", sans-serif;
  font-size: 1rem; }

h6 {
  font-family: "rubik", sans-serif;
  font-size: 0.8rem; }

small {
  font-size: 1.2remem; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none !important; }

a:focus {
  outline: 0; }

input,
select,
button,
textarea {
  max-width: 100%; }
  input:focus, input::-moz-focus-outer, input::-moz-focus-inner,
  select:focus,
  select::-moz-focus-outer,
  select::-moz-focus-inner,
  button:focus,
  button::-moz-focus-outer,
  button::-moz-focus-inner,
  textarea:focus,
  textarea::-moz-focus-outer,
  textarea::-moz-focus-inner {
    border: 0;
    outline: 0; }

select:hover {
  cursor: pointer; }

::-webkit-scrollbar {
  height: 1.6rem;
  width: 0.53333rem;
  background: white; }

::-webkit-scrollbar-thumb {
  background-color: #007072; }

* {
  scrollbar-color: #007072 white;
  scrollbar-width: thin; }

/* Common regions */
/**
 *  Front
 */
.page--map .region-content__inner--twocol {
  display: flex;
  flex-direction: column-reverse; }

@media screen and (min-width: 768px) {
  .page--map .region-content__inner--twocol {
    display: grid; }

  .page--map .region-content__inner--twocol {
    grid-template-columns: 25% 75%; } }
@media screen and (min-width: 1400px) {
  .page--map .region-content__inner--twocol {
    grid-template-columns: 20% 80%; } }
.region-content__inner--twocol.show-right {
  grid-template-columns: 1fr 0fr !important; }

.region-content__inner--twocol.show-left {
  grid-template-columns: 0fr 1fr !important; }

@media screen and (min-width: 768px) {
  .layout__left--twocol {
    max-height: calc(100vh - 1.6rem);
    overflow-y: auto; } }

.site-header {
  padding: 0 0.8rem;
  margin: 0.8rem 0;
  background: white; }

.site-logo {
  margin-top: 1.6rem;
  max-height: 9.6rem; }

.two-columns {
  column-count: 2; }
  .two-columns > div {
    break-inside: avoid; }

.three-columns {
  column-gap: 6.4rem; }
  .three-columns > div {
    break-inside: avoid; }
  @media screen and (min-width: 768px) {
    .three-columns {
      column-count: 2; } }
  @media screen and (min-width: 1400px) {
    .three-columns {
      column-count: 3; } }

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem; }

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.2rem; }

.width-two-col {
  width: 100vw; }
  @media screen and (min-width: 768px) {
    .width-two-col {
      width: 50vw; } }
  @media screen and (min-width: 1400px) {
    .width-two-col {
      width: 40vw; } }

.width-three-col {
  width: 100vw; }
  @media screen and (min-width: 768px) {
    .width-three-col {
      width: 50vw; } }
  @media screen and (min-width: 1400px) {
    .width-three-col {
      width: 60vw; } }

.map-wrapper {
  position: relative; }

/* No files to import found in components/* */
.legend {
  position: absolute;
  font-family: "rubik", sans-serif;
  background: white;
  padding: 0 0 1.6rem;
  font-size: 1.6rem;
  z-index: 120000;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .legend {
      position: fixed;
      padding: 1.6rem;
      width: 24rem;
      top: 1.6rem;
      right: 1.6rem; } }

.legend__help {
  margin-top: 0.8rem;
  font-size: 1.4rem; }

.collapsed .legend__help {
  display: none; }

.legend__label {
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase; }
  .legend__label:hover {
    cursor: pointer; }
  .legend__label:after {
    content: url("/static/site/img/icons/chevron.svg");
    float: right;
    margin-top: -3px;
    transition: transform 0.2s ease;
    transform: scaleY(-1); }

.collapsed .legend__label:after {
  transform: scaleY(1);
  margin-top: 3px; }
.collapsed .legend-category__items {
  display: none; }

.legend-category__items {
  margin-top: 1.6rem; }

.legend-category__items li:hover {
  cursor: pointer; }

.legend-category__item {
  opacity: 0.5;
  transition: opacity 0.2s ease;
  color: #333; }
  .legend-category__item.on {
    opacity: 1; }

.legend-category__unfilter {
  margin-top: 2.4rem;
  color: #555;
  text-align: right;
  font-size: 0.8em;
  transition: color 0.2s ease;
  border-top: 1px dashed; }
  .legend-category__unfilter:before {
    content: url("/static/site/img/icons/x.svg");
    transform: scale(0.75);
    display: inline-block;
    position: relative;
    top: 6px; }
  .legend-category__unfilter:hover {
    cursor: pointer;
    color: #111; }

.legend-category__item {
  text-transform: capitalize; }

.legend-category__item:before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  margin-right: 4px;
  position: relative;
  top: 2px; }

.legend-category__item[data-id="behargintza"]:before,
.legend-category__item[data-id="necesidades"]:before {
  content: ""; }

.legend-category__item[data-id="hezkuntza"]:before,
.legend-category__item[data-id="educacion"]:before {
  content: ""; }

.legend-category__item[data-id="alkatzea"]:before,
.legend-category__item[data-id="alcaldia"]:before {
  content: ""; }

.legend-category__item[data-id="kultura"]:before,
.legend-category__item[data-id="cultura"]:before {
  content: ""; }

.legend-category__item[data-id="kirolak"]:before,
.legend-category__item[data-id="deportes"]:before {
  content: ""; }

.legend-category__item[data-id="hirigintza"]:before,
.legend-category__item[data-id="urbanismo"]:before {
  content: ""; }

.legend-category__item[data-id="sail-anitzak"]:before,
.legend-category__item[data-id="multiarea"]:before {
  content: ""; }

.legend-category__item[data-id="gizarte-zerbitzuak"]:before,
.legend-category__item[data-id="servicios-sociales"]:before {
  content: ""; }

.legend-category__item[data-id="euskera-zerbitzua"]:before,
.legend-category__item[data-id="servicio-de-euskera"]:before {
  content: ""; }

.legend-category__item[data-id="turismoa"]:before,
.legend-category__item[data-id="turismo"]:before {
  content: ""; }

.legend-category__item[data-id="no-validada"]:before,
.legend-category__item[data-id="baliogabetua"]:before {
  content: url("/static/site/img/markers/marker-small.svg");
  filter: invert(15%) sepia(94%) saturate(7485%) hue-rotate(338deg) brightness(99%) contrast(91%); }

.legend-category__item[data-id="validada"]:before,
.legend-category__item[data-id="bideragarria"]:before {
  content: url("/static/site/img/markers/marker-small.svg");
  filter: invert(99%) sepia(73%) saturate(4600%) hue-rotate(73deg) brightness(101%) contrast(90%); }

.legend-category__item[data-id="vehiculizada"]:before,
.legend-category__item[data-id="bideratua"]:before {
  content: url("/static/site/img/markers/marker-small.svg");
  filter: invert(98%) sepia(97%) saturate(7492%) hue-rotate(347deg) brightness(95%) contrast(98%); }

.legend-category__items[data-cat='year'] .legend-category__item {
  color: white; }
  .legend-category__items[data-cat='year'] .legend-category__item:before {
    font-family: "rubik", sans-serif !important;
    font-size: 1.75rem;
    color: #111; }

.lang--es .legend-category__items[data-cat='year'] .legend-category__item:first-child:before {
  content: "Primera edición"; }

.lang--es .legend-category__items[data-cat='year'] .legend-category__item:last-child:before {
  content: "Segunda edición"; }

.lang--eu .legend-category__items[data-cat='year'] .legend-category__item:first-child:before {
  content: "1.deialdia"; }

.lang--eu .legend-category__items[data-cat='year'] .legend-category__item:last-child:before {
  content: "2.deialdia"; }

.leaflet-marker-icon .inner {
  position: relative; }

.leaflet-marker-icon .inner:before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: 110000;
  font-size: 2rem;
  top: 6px;
  left: 9px; }

.leaflet-marker-icon.behargintza .inner:before,
.leaflet-marker-icon.necesidades .inner:before {
  content: ""; }

.leaflet-marker-icon.hezkuntza .inner:before,
.leaflet-marker-icon.educacion .inner:before {
  content: ""; }

.leaflet-marker-icon.alkatzea .inner:before,
.leaflet-marker-icon.alcaldia .inner:before {
  content: ""; }

.leaflet-marker-icon.kultura .inner:before,
.leaflet-marker-icon.cultura .inner:before {
  content: ""; }

.leaflet-marker-icon.kirolak .inner:before,
.leaflet-marker-icon.deportes .inner:before {
  content: ""; }

.leaflet-marker-icon.hirigintza .inner:before,
.leaflet-marker-icon.urbanismo .inner:before {
  content: ""; }

.leaflet-marker-icon.sail-anitzak .inner:before,
.leaflet-marker-icon.multiarea .inner:before {
  content: ""; }

.leaflet-marker-icon.gizarte-zerbitzuak .inner:before,
.leaflet-marker-icon.servicios-sociales .inner:before {
  content: ""; }

.leaflet-marker-icon.euskera-zerbitzua .inner:before,
.leaflet-marker-icon.servicio-de-euskera .inner:before {
  content: ""; }

.leaflet-marker-icon.turismoa .inner:before,
.leaflet-marker-icon.turismo .inner:before {
  content: ""; }

.map-wrapper {
  padding: 0 30px 30px; }
  @media screen and (min-width: 768px) {
    .map-wrapper {
      padding: 0.8rem; } }

#map {
  background-color: #eee; }

#map.full-height {
  height: calc(100vh - 2.4rem);
  width: 100%; }

#map .leaflet-popup-content-wrapper {
  border-radius: 0;
  width: 360px;
  max-width: 90vw; }
  #map .leaflet-popup-content-wrapper a:link {
    color: inherit; }
  #map .leaflet-popup-content-wrapper a:visited {
    color: inherit; }
  #map .leaflet-popup-content-wrapper a:hover {
    color: inherit; }
  #map .leaflet-popup-content-wrapper a:active {
    color: inherit; }
  #map .leaflet-popup-content-wrapper a {
    transition: none; }

#map .leaflet-tile {
  filter: grayscale(1); }

.map-item__name {
  margin: 0.8rem 0;
  font-size: 1.8rem;
  line-height: 1.2em; }

#map .leaflet-marker-icon {
  transition: opacity 0.5s ease; }
  #map .leaflet-marker-icon.inactive {
    opacity: 0.15;
    pointer-events: none !important; }
  #map .leaflet-marker-icon.hidden {
    display: none !important; }

#map .leaflet-marker-shadow.hidden {
  display: none !important; }

@media screen and (max-width: 768px) {
  .leaflet-popup {
    display: none; } }
.map-item__categories span {
  margin-right: 0.8rem; }
  .map-item__categories span:before {
    content: "#"; }

.leaflet-control-attribution {
  color: #333; }
  .leaflet-control-attribution a {
    color: #111 !important; }

.search-hood {
  font-size: 1.4rem;
  background: white;
  margin: 3.2rem 0 1.6rem; }
  @media screen and (min-width: 768px) {
    .search-hood {
      position: absolute;
      margin: 0;
      z-index: 150000;
      left: 1.6rem;
      top: 1.6rem; } }

.search-hood__label {
  font-weight: bold;
  padding: 0 0.8rem; }

.share img {
  max-width: 20px; }
  .share img:hover {
    cursor: pointer;
    opacity: 0.75; }

.share__label {
  opacity: 0.75;
  cursor: pointer;
  margin-left: 0.8rem; }

.share__items {
  display: none;
  margin-left: 0.8rem; }

.share__items.visible {
  display: inline-block; }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
[data-copy].success:after {
  content: "Has copiado la URL del video al portapapeles";
  position: absolute;
  padding: 0.8rem;
  background-color: #41ad33;
  color: white;
  z-index: 500000;
  animation: fadeinout 3s 1 forwards;
  font-size: 1.4rem;
  margin-left: 1.6rem; }

.timeline-wrapper {
  padding: 0 1.6rem 1.6rem; }

.timeline-item {
  background: white;
  padding: 16px 0.8rem 1.6rem;
  border-top: 2px solid #007072;
  transition: background-color 0.2s ease; }

.timeline-item > a {
  display: block; }

.timeline-item__name {
  margin: 0.8rem 0;
  font-size: 2rem;
  text-transform: uppercase; }

.timeline-item__meta.star::before {
  content: url("/static/site/img/icons/star.svg");
  transform: scale(0.75);
  margin-right: 0.8rem;
  filter: invert(45%) sepia(9%) saturate(3283%) hue-rotate(150deg) brightness(96%) contrast(80%); }

.timeline-item a:link {
  color: #007072; }
.timeline-item a:visited {
  color: #007072; }
.timeline-item a:hover {
  color: #007072; }
.timeline-item a:active {
  color: #007072; }
.timeline-item a {
  transition: none; }

.timeline-item.hidden {
  display: none; }

.timeline-item__video video {
  max-width: 100%;
  height: auto;
  margin: 0.8rem 0; }
  .timeline-item__video video:hover {
    cursor: pointer; }

.timeline-item__terms {
  font-size: 1.4rem;
  margin-top: 0.53333rem; }

.timeline-item__date {
  font-size: 1.4rem;
  text-transform: capitalize;
  opacity: 0.75; }

video {
  filter: blur(20px);
  transition: filter 1s ease; }
  video[data-ll-status="loaded"] {
    filter: none; }

.timeline-item:not(.selected) .timeline-item__back {
  display: none; }

.timeline-item__back {
  border: none;
  margin: 1.6rem auto 0;
  font-size: 1.4rem;
  padding: 0 0.8rem;
  line-height: 2.8rem;
  transition: background-color 0.2s ease;
  border-radius: 2px;
  text-align: center;
  width: 12.8rem;
  display: block; }
  .timeline-item__back:before {
    content: "×";
    margin-right: 4px; }
  .timeline-item__back:hover {
    background-color: #007072;
    cursor: pointer; }

.timeline-item__meta {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.timeline-item__date {
  flex-grow: 1; }

.timeline-item .share {
  position: relative;
  z-index: 1000; }

@media screen and (max-width: 768px) {
  .timeline-item.selected {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3.2rem;
    width: 100vw;
    z-index: 200000;
    min-height: 100vh; } }

.timeline-item:not(.selected):hover {
  background: #f5f5f5;
  cursor: pointer; }

.timeline-item:not(.selected) video {
  pointer-events: none; }

@media screen and (max-width: 768px) {
  .leaflet-popup {
    display: none; } }

.timeline-item__extra {
  display: none;
  margin-top: 1.6rem; }

.selected .timeline-item__extra {
  display: block; }

@media all and (max-width: 768px) {
  .timeline-item__extra {
    display: block; } }
.timeline-item__summary,
.timeline-item__link-prefix,
.timeline-item__link,
.timeline-item__video-reply-text {
  font-size: 1.6rem; }

.timeline-item__video--reply {
  margin: 0 0 1.6rem !important; }

.timeline-item__video-reply-text {
  margin-top: 1.6rem; }

.timeline-item__vireo-reply-label,
.timeline-item__person {
  text-transform: uppercase;
  margin-top: 2.4rem !important; }

.timeline-item__link {
  margin: 3.2rem 0 !important;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }
  .timeline-item__link a {
    outline: 1px solid #007072;
    padding: 0.8rem;
    transition: outline-color 0.2s ease; }
  .timeline-item__link a:hover {
    outline-color: #007072; }

#contacta.loading:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  background: url("/static/site/img/icons/spinner.svg") center center no-repeat;
  background-color: rgba(255, 255, 255, 0.9); }

.form__field {
  margin-bottom: 3.2rem; }

.form__field.not-validated {
  background-color: #eee;
  padding: 0.8rem; }
  .form__field.not-validated:after {
    content: attr(data-error);
    color: #fa4440;
    margin-top: 0.8rem;
    font-size: 1.4rem; }

.form__label {
  display: block;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.6rem; }
  .form__label.required:after {
    content: "*";
    color: #007072; }

.form__helptext {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  opacity: 0.6;
  text-indent: 0 !important; }

.form input:not([type=submit]):not([type=checkbox]),
textarea,
select {
  border: 0;
  background: 0;
  appearance: none;
  padding: 0.8rem; }

.form input[type=text],
.form input[type=email],
.form input[type=checkbox],
select {
  background-color: #f5f5f5 !important; }

.form__submit {
  color: white;
  background-color: #007072;
  line-height: 4.8rem;
  border: 0;
  font-weight: bold;
  display: block;
  width: 50%;
  margin: 6.4rem auto; }
  .form__submit:hover {
    cursor: pointer; }

.form-field--legal input {
  float: left;
  margin: 2.4rem 4.4rem 0.8rem 0; }
.form-field--legal .form__helptext {
  font-size: 1.6rem; }

#id_position {
  display: none; }

.geocode-widget__map {
  height: 33vh; }

.geocode-widget__search {
  margin-bottom: 1.6rem; }

.geocode-widget__input {
  width: auto;
  flex-grow: 1; }

.geocode-widget__geocode-submit {
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  color: #007072;
  margin-left: 1.6rem; }

.geocode-widget__geocode-submit:hover {
  cursor: pointer; }

.geocode-widget__search {
  display: flex;
  align-items: baseline; }

.disclaimer {
  margin-bottom: 3.2rem;
  margin-top: -3.2rem;
  font-size: 1.6rem; }

.item-category {
  border-bottom: 2px dashed #007072;
  padding: 3.2rem 0; }

.item-category__name {
  color: #007072;
  text-transform: uppercase; }
  .item-category__name:first-of-type {
    margin-top: 0; }

.item-category__content {
  font-size: 1.8rem; }

.lang-switcher {
  font-size: 1.3rem;
  position: relative;
  top: 3px;
  padding-left: 1.6rem; }
  .lang-switcher a:link, .lang-switcher a:visited {
    color: inherit; }
  .lang-switcher a:hover {
    color: #007072; }
  .lang-switcher a:active {
    color: inherit; }

.menu-main {
  margin-top: 0.8rem;
  padding: 1.6rem 1.6rem 0;
  color: #3f3f3f;
  text-transform: uppercase;
  transition: color 0.2s ease;
  font-size: 1.4rem; }

.menu-main__items {
  margin: 0;
  padding: 0; }
  .menu-main__items .menu-main__item {
    margin-bottom: 1.6rem; }
  @media screen and (min-width: 1200px) {
    .menu-main__items {
      display: flex; }
      .menu-main__items .menu-main__item:not(:last-child) {
        margin-right: 1.6rem;
        margin-bottom: 0; } }

.menu-main__item:hover {
  cursor: pointer;
  color: #003e3f; }

.secondary-navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50000;
  background: white;
  padding: 0.4rem 0.8rem 0 0;
  text-transform: uppercase; }

.secondary-navigation__item {
  display: inline;
  cursor: pointer; }
  .secondary-navigation__item:not(:first-child) {
    margin-left: 0.8rem; }

.site-header {
  position: relative; }
  .site-header .left {
    text-align: center; }

.menu-social img {
  width: 20px;
  transition: filter 0.2s ease;
  filter: #3f3f3f; }
.menu-social img:hover {
  filter: invert(60%) sepia(99%) saturate(433%) hue-rotate(18deg) brightness(104%) contrast(105%); }

.menu-social__item {
  display: inline; }
  .menu-social__item:not(:last-child) {
    margin-right: 0.8rem; }

.site-messages {
  position: fixed;
  width: 500px;
  left: calc(50% - 250px);
  top: 50px;
  z-index: 50000;
  font-size: 1.6rem;
  text-align: center;
  max-width: 100%; }

.site-message--success {
  background-color: #007072;
  color: white;
  padding: 1.6rem;
  transition: opacity 0.2s ease; }
  .site-message--success:hover {
    cursor: pointer;
    opacity: 0.5; }

.modal {
  position: fixed;
  z-index: 150000; }

.modal__close {
  position: absolute;
  z-index: 15000;
  top: 2.4rem;
  right: 3.2rem;
  width: 4.8rem; }
  .modal__close:hover {
    cursor: pointer; }

@keyframes swipedown {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
.modal#workshop {
  opacity: 0.9; }

.modal.swipe-down .modal__close {
  right: 0.8rem;
  top: 0.8rem; }
.modal.swipe-down.visible {
  width: 360px;
  top: calc(50vh - 180px);
  left: calc(50vw - 180px);
  animation: swipedown 2s ease 1 forwards; }
  @media all and (min-width: 640px) {
    .modal.swipe-down.visible {
      width: auto;
      top: calc(50vh - 320px);
      left: calc(50vw - 320px); } }
.modal.swipe-down .modal__inner {
  padding: 0.8rem; }

.modal.swipe-left {
  top: 0;
  height: 100vh;
  left: 100vw;
  right: 0;
  transition: left 0.5s ease; }
  .modal.swipe-left.visible.width-two-col {
    left: 0; }
    @media screen and (min-width: 768px) {
      .modal.swipe-left.visible.width-two-col {
        left: 50vw; } }
    @media screen and (min-width: 1400px) {
      .modal.swipe-left.visible.width-two-col {
        left: 60vw; } }
  .modal.swipe-left.visible.width-three-col {
    left: 0; }
    @media screen and (min-width: 768px) {
      .modal.swipe-left.visible.width-three-col {
        left: 50vw; } }
    @media screen and (min-width: 1400px) {
      .modal.swipe-left.visible.width-three-col {
        left: 40vw; } }

.modal__inner {
  padding: 3.2rem;
  background: white;
  max-height: 100vh;
  overflow-y: auto; }

.modal__header {
  text-transform: uppercase;
  border-bottom: 4px solid #222;
  margin: 0 0 6.4rem;
  padding-right: 6.4rem; }

.modal__body {
  line-height: 1.35;
  padding-bottom: 1.6rem; }
  .modal__body p:not(:first-child) {
    text-indent: 6.4rem; }
  .modal__body p:not(:last-child) {
    margin-bottom: 1rem; }

.signature {
  margin: 3.2rem 0;
  text-align: center; }

.signature,
.signature__logos {
  height: 6.4rem; }

.signature__logo {
  max-height: 9.6rem;
  vertical-align: middle;
  width: auto;
  margin-right: 1.6rem; }
  .signature__logo.pad {
    max-height: 50%; }

/*# sourceMappingURL=style.css.map */
