{% load i18n %}
<div class="geocode-widget">
    <div class="geocode-widget__search">
        <input id="geocode-widget__input" type="text"></input>
        <span class="geocode-widget__geocode-submit">{% trans submit_text %}</span>
    </div>
    {{ parent_widget }}
    <div id="geocode-widget__map" class="geocode-widget__map"></div>
</div>
