{% load i18n map_tags %}
{% get_hoods as hoods %}

{% if hoods %}
<div class="search-hood">
    <span class="search-hood__label">
        {% trans 'Centra el mapa en tu barrio' %}
    </span>
    <select class="search-hood__widget">
        {% for hood in hoods %}
            <option value="{{ hood.lat }}, {{ hood.lon }}">
                {% t hood 'name' lang %}
            </option>
        {% endfor %}        
    </select>
</div>
{% endif %}
