{# Renders a template with two columns #}
{% extends 'base.html' %}
{% block layout_classes %}layout--twocol{% endblock %}

{% block layout %}
<div class="region-content__inner region-content__inner--twocol">
    <div class="layout__left--twocol">
        {% block left %}{% endblock %}
    </div>
    <div class="layout__right--twocol">
        {% block right %}{% endblock %}
    </div>
</div>
{% endblock %}
