// VARIABLES

// layout
$m : 1.6rem

// typography
@font-face
  font-family: 'rubik'
  src: url('../fonts/Rubik-Light.eot?') format('eot'), url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'rubik'
  src: url('../fonts/Rubik-Italic.eot?') format('eot'), url('../fonts/Rubik-Italic.woff') format('woff'), url('../fonts/Rubik-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic
@font-face
  font-family: 'rubik'
  src: url('../fonts/Rubik-Bold.eot?') format('eot'), url('../fonts/Rubik-Bold.woff') format('woff'), url('../fonts/Rubik-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'rubik'
  src: url('../fonts/Rubik-BoldItalic.eot?') format('eot'), url('../fonts/Rubik-BoldItalic.woff') format('woff'), url('../fonts/Rubik-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic
@font-face
  font-family: 'icons'
  src: url('../img/markers/icons.eot?') format('eot'), url('../img/markers/icons.woff') format('woff'), url('../img/markers/icons.ttf') format('truetype'), url('../img/markers/icons.svg') format('svg')
  font-weight: bold
  font-style: italic



$font_text           : 'rubik', sans-serif
$font_headers        : $font_text
$font_text_weight    : 300
$font_headers_weight : 700
$size_headers        : (4.8rem, 3.6rem, 2.4rem, 1.2rem, 1rem, 0.8rem)
$size_small          : 1.2rem


$green: #007072
$red: #007072

$height_footer: 0
$height_header: 20vh
