// OOCSS

.hidden,
.rehidden
  display: none !important

.mobile
  +breakpoint('sm')
    display: none

.not-mobile
  +breakpoint('xs')
    display: none

.flex-between
  display: flex
  justify-content: space-between