*
  box-sizing: border-box

html
  font-size: 62.5%

body
  max-width: 100vw
  font-family: $font_text
  font-size: 2.2rem

p
  margin: 0

ul,li
  padding: 0
  margin: 0

figure
  margin: 0

// Headers
@for $i from 1 through 6
  h#{$i}
    +h($i)

small
  font-size: #{$size_small}em

// RESPONSIVE IMAGES BY DEFAULT
img
  max-width: 100%
  height: auto

iframe
  max-width: 100%

// LISTS
li
  list-style: none

// RESET LINK DEFAULT STYLES
a
  text-decoration: none !important
a:focus
  outline: 0

// RESET FORM DEFAULT STYLES
input,
select,
button,
textarea
  max-width: 100%
  &:focus,
  &::-moz-focus-outer,
  &::-moz-focus-inner,
    border  : 0
    outline : 0

select
  &:hover
    cursor: pointer

::-webkit-scrollbar
  height: $m
  width: $m/3
  background: white

::-webkit-scrollbar-thumb
  background-color: $red

*
  scrollbar-color: $red white
  scrollbar-width: thin
