/* Common regions

/**
 *  Front
 */

.page--map .region-content__inner--twocol
  display: flex
  flex-direction: column-reverse

+breakpoint('sm')
  .page--map .region-content__inner--twocol
    display: grid
  .page--map .region-content__inner--twocol
    grid-template-columns: 25% 75%
+breakpoint('xl')
  .page--map .region-content__inner--twocol
    grid-template-columns: 20% 80%

.region-content__inner--twocol.show-right
  grid-template-columns: 1fr 0fr !important

.region-content__inner--twocol.show-left
  grid-template-columns: 0fr 1fr !important

.layout__left--twocol
  +breakpoint('sm')
    max-height: calc(100vh - #{$m})
    overflow-y: auto

.site-header
  padding: 0 $m/2
  margin: $m/2 0
  background: white

.site-logo
  margin-top: $m
  max-height: $m*6

.two-columns
  column-count: 2
  > div
    break-inside: avoid

.three-columns
  column-gap: $m*4
  > div
    break-inside: avoid
  +breakpoint('sm')
    column-count: 2
  +breakpoint('xl')
    column-count: 3

.grid-two
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: $m*2
.grid-three
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: $m*2

.width-two-col
  width: 100vw
  +breakpoint('sm')
    width: 50vw
  +breakpoint('xl')
    width: 40vw
.width-three-col
  width: 100vw
  +breakpoint('sm')
    width: 50vw
  +breakpoint('xl')
    width: 60vw

.map-wrapper
  position: relative
