.legend
  position: absolute
  font-family: $font_text
  background: white
  padding: 0 0 $m
  font-size: 1.6rem
  z-index: 120000
  width: 100%
  +breakpoint('sm')
    position: fixed
    padding: $m
    width: $m*15
    top: $m
    right: $m

.legend__help
  margin-top: $m/2
  font-size: 1.4rem

.collapsed .legend__help
  display: none

.legend__label
  font-size: 1.6rem
  margin: 0
  text-transform: uppercase
  &:hover
    cursor: pointer
  &:after
    content: url('/static/site/img/icons/chevron.svg')
    float: right
    margin-top: -3px
    transition: transform .2s ease
    transform: scaleY(-1)
.collapsed
  .legend__label:after
    transform: scaleY(1)
    margin-top: 3px
  .legend-category__items
    display: none

.legend-category__items
  margin-top: $m

.legend-category__items li:hover
  cursor: pointer

.legend-category__item
  opacity: .5
  transition: opacity .2s ease
  color: #333
  &.on
    opacity: 1

.legend-category__unfilter
  margin-top: $m*1.5
  color: #555
  text-align: right
  font-size: .8em
  transition: color .2s ease
  border-top: 1px dashed
  &:before
    content: url('/static/site/img/icons/x.svg')
    transform: scale(.75)
    display: inline-block
    position: relative
    top: 6px 
  &:hover
    cursor: pointer
    color: #111

.legend-category__item
  text-transform: capitalize

.legend-category__item:before
  font-family: 'icons' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 2rem
  margin-right: 4px
  position: relative
  top: 2px

// Necesidades
.legend-category__item[data-id="behargintza"]:before,
.legend-category__item[data-id="necesidades"]:before
  content: "\e901"
// Educación
.legend-category__item[data-id="hezkuntza"]:before,
.legend-category__item[data-id="educacion"]:before
  content: "\e902"
.legend-category__item[data-id="alkatzea"]:before,
.legend-category__item[data-id="alcaldia"]:before
  content: "\e903"
// Cultura
.legend-category__item[data-id="kultura"]:before,
.legend-category__item[data-id="cultura"]:before
  content: "\e904"
// Deportes
.legend-category__item[data-id="kirolak"]:before,
.legend-category__item[data-id="deportes"]:before
  content: "\e905"
// Urbanismo
.legend-category__item[data-id="hirigintza"]:before,
.legend-category__item[data-id="urbanismo"]:before
  content: "\e906"
// Multiárea
.legend-category__item[data-id="sail-anitzak"]:before,
.legend-category__item[data-id="multiarea"]:before
  content: "\e907"
// Servicios sociales
.legend-category__item[data-id="gizarte-zerbitzuak"]:before,
.legend-category__item[data-id="servicios-sociales"]:before
  content: "\e908"
// Servicio de euskera
.legend-category__item[data-id="euskera-zerbitzua"]:before,
.legend-category__item[data-id="servicio-de-euskera"]:before
  content: "\e909"
// Turismo
.legend-category__item[data-id="turismoa"]:before,
.legend-category__item[data-id="turismo"]:before
  content: "\e90a"

// Servicios sociales
.legend-category__item[data-id="no-validada"]:before,
.legend-category__item[data-id="baliogabetua"]:before
  content: url('/static/site/img/markers/marker-small.svg')
  filter: invert(15%) sepia(94%) saturate(7485%) hue-rotate(338deg) brightness(99%) contrast(91%)
// Servicio de euskera
.legend-category__item[data-id="validada"]:before,
.legend-category__item[data-id="bideragarria"]:before
  content: url('/static/site/img/markers/marker-small.svg')
  filter: invert(99%) sepia(73%) saturate(4600%) hue-rotate(73deg) brightness(101%) contrast(90%)
// Turismo
.legend-category__item[data-id="vehiculizada"]:before,
.legend-category__item[data-id="bideratua"]:before
  content: url('/static/site/img/markers/marker-small.svg')
  filter: invert(98%) sepia(97%) saturate(7492%) hue-rotate(347deg) brightness(95%) contrast(98%)

.lang--es
.legend-category__items[data-cat='year']
  .legend-category__item
    color: white
    &:before
      font-family: $font_text !important
      font-size: 1.75rem
      color: #111
    
.lang--es .legend-category__items[data-cat='year'] .legend-category__item:first-child:before
  content: "Primera edición"
.lang--es .legend-category__items[data-cat='year'] .legend-category__item:last-child:before
  content: "Segunda edición"
.lang--eu .legend-category__items[data-cat='year'] .legend-category__item:first-child:before
  content: "1.deialdia"
.lang--eu .legend-category__items[data-cat='year'] .legend-category__item:last-child:before
  content: "2.deialdia"