.search-hood
  font-size: 1.4rem
  background: white
  margin: $m*2 0 $m
  +breakpoint('sm')
    position: absolute
    margin: 0
    z-index: 150000
    left: $m
    top: $m
.search-hood__label
  font-weight: bold
  padding: 0 $m/2
