// Map block

.map-wrapper
  padding: 0 30px 30px
  +breakpoint('sm')
    padding: $m/2

#map
  background-color: #eee

#map.full-height
  height: calc(100vh - #{ $m*1.5 + $height_footer })
  width: 100%

#map .leaflet-popup-content-wrapper
  border-radius: 0
  width: 360px
  max-width: 90vw
  +link_colors(inherit, inherit)

#map .leaflet-tile
  filter: grayscale(1)

.map-item__name
  margin: $m/2 0
  font-size: 1.8rem
  line-height: 1.2em

#map .leaflet-marker-icon
  transition: opacity .5s ease
  &.inactive
    opacity: .15
    pointer-events: none !important
  &.hidden
    display: none !important  

#map .leaflet-marker-shadow.hidden
  display: none !important

+breakpoint('xs')
  .leaflet-popup
    display: none

.map-item__categories span
  margin-right: $m/2
  &:before
    content: "#"
  
.leaflet-control-attribution
  color: #333
  a
    color: #111 !important