// timeline items

.timeline-wrapper
  padding: 0 $m $m
.timeline-item
  background: white
  padding: 16px $m/2 $m
  border-top: 2px solid $green
  transition: background-color .2s ease
.timeline-item > a
  display: block
.timeline-item__name
  margin: $m/2 0
  font-size: 2rem
  text-transform: uppercase
.timeline-item__meta.star::before
  content: url('/static/site/img/icons/star.svg')
  transform: scale(.75)
  margin-right: $m/2
  filter: invert(45%) sepia(9%) saturate(3283%) hue-rotate(150deg) brightness(96%) contrast(80%)
.timeline-item
  +link_colors($red, $green)
.timeline-item.hidden
  display: none
.timeline-item__video video
  max-width: 100%
  height: auto
  margin: $m/2 0
  &:hover
    cursor: pointer
.timeline-item__terms
  font-size: 1.4rem
  margin-top: $m/3
.timeline-item__date
  font-size: 1.4rem
  text-transform: capitalize
  opacity: .75

video
  filter: blur(20px)
  transition: filter 1s ease
  &[data-ll-status="loaded"]
    filter: none

.timeline-item:not(.selected) .timeline-item__back
  display: none

.timeline-item__back
  border: none
  margin: $m auto 0
  font-size: 1.4rem
  padding: 0 $m/2
  line-height: 2.8rem
  transition: background-color .2s ease
  border-radius: 2px
  text-align: center
  width: $m*8
  display: block
  &:before
    content: "\00d7"
    margin-right: 4px
  &:hover
    background-color: $green
    cursor: pointer

.timeline-item__meta
  display: flex
  align-items: flex-end
  justify-content: space-between

.timeline-item__date
  flex-grow: 1
  
.timeline-item .share
  position: relative
  z-index: 1000
  
.timeline-item.selected
  +breakpoint('xs')
    position: fixed
    top: 0
    left: 0
    padding: $m*2
    width: 100vw
    z-index: 200000
    min-height: 100vh

.timeline-item:not(.selected):hover
  background: #f5f5f5
  cursor: pointer

.timeline-item:not(.selected) video
  pointer-events: none

.leaflet-popup
  +breakpoint('xs')
    display: none

.timeline-item__extra
  display: none
  margin-top: $m
  
.selected .timeline-item__extra
  display: block
@media all and (max-width: 768px) 
  .timeline-item__extra
    display: block

.timeline-item__summary,
.timeline-item__link-prefix,
.timeline-item__link,
.timeline-item__video-reply-text
  font-size: 1.6rem

.timeline-item__video--reply
  margin: 0 0 $m !important

.timeline-item__video-reply-text
  margin-top: $m

.timeline-item__vireo-reply-label,
.timeline-item__person
  text-transform: uppercase
  margin-top: $m*1.5 !important

.timeline-item__link
  margin: $m*2 0 !important
  text-align: center
  font-size: 1.2rem
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: bold
  a
    outline: 1px solid $green
    padding: $m/2
    transition: outline-color .2s ease
  a:hover
    outline-color: $red