// Share

.share img
  max-width: 20px
  &:hover
    cursor: pointer
    opacity: .75

.share__label
  opacity: .75
  cursor: pointer
  margin-left: $m/2

.share__items
  display: none
  margin-left: $m/2
.share__items.visible
  display: inline-block

@keyframes fadeinout
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

[data-copy].success:after
  content: "Has copiado la URL del video al portapapeles"
  position: absolute
  padding: $m/2
  background-color: #41ad33
  color: white
  z-index: 500000
  animation: fadeinout 3s 1 forwards
  font-size: 1.4rem
  margin-left: $m
