// icons


.leaflet-marker-icon .inner
  position: relative

.leaflet-marker-icon .inner:before
  font-family: 'icons' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  position: absolute
  z-index: 110000
  font-size: 2rem
  top: 6px
  left: 9px
  
// Necesidades
.leaflet-marker-icon.behargintza,
.leaflet-marker-icon.necesidades
  .inner:before
    content: "\e901"
    
// Educación
.leaflet-marker-icon.hezkuntza,
.leaflet-marker-icon.educacion
  .inner:before
    content: "\e902"
    
.leaflet-marker-icon.alkatzea,
.leaflet-marker-icon.alcaldia
  .inner:before
    content: "\e903"

// Cultura
.leaflet-marker-icon.kultura,
.leaflet-marker-icon.cultura
  .inner:before
    content: "\e904"
    
// Deportes
.leaflet-marker-icon.kirolak,
.leaflet-marker-icon.deportes
  .inner:before
    content: "\e905"

// Urbanismo
.leaflet-marker-icon.hirigintza,
.leaflet-marker-icon.urbanismo
  .inner:before
    content: "\e906"

// Multiárea
.leaflet-marker-icon.sail-anitzak,
.leaflet-marker-icon.multiarea 
  .inner:before
    content: "\e907"
    
// Servicios sociales
.leaflet-marker-icon.gizarte-zerbitzuak,
.leaflet-marker-icon.servicios-sociales
  .inner:before
    content: "\e908"
    
// Servicio de euskera
.leaflet-marker-icon.euskera-zerbitzua,
.leaflet-marker-icon.servicio-de-euskera
  .inner:before
    content: "\e909"

// Turismo
.leaflet-marker-icon.turismoa,
.leaflet-marker-icon.turismo
  .inner:before
    content: "\e90a"