#contacta.loading:before
  content: ""
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 100000
  background: url('/static/site/img/icons/spinner.svg') center center no-repeat
  background-color: rgba(white, .9)

.form__field
  margin-bottom: $m*2

.form__field.not-validated
  background-color: #eee
  padding: $m/2
  &:after
    content: attr(data-error)
    color: #fa4440
    margin-top: $m/2
    font-size: 1.4rem

.form__label
  display: block
  color: #333
  text-transform: uppercase
  font-weight: bold
  margin-bottom: $m
  &.required:after
    content: "*"
    color: $green
.form__helptext
  font-size: 1.6rem
  margin-top: $m
  opacity: .6
  text-indent: 0 !important
.form input:not([type=submit]):not([type=checkbox]),
textarea,
select
  border: 0
  background: 0
  appearance: none
  padding: $m/2
.form input[type=text],
.form input[type=email],
.form input[type=checkbox],
select
  background-color: #f5f5f5 !important
.form__submit
  color: white
  background-color: $green
  line-height: $m*3
  border: 0
  font-weight: bold
  display: block
  width: 50%
  margin: $m*4 auto
  &:hover
    cursor: pointer

.form-field--legal
  input
    float: left
    margin: $m*1.5 $m*2.75 $m/2 0
  .form__helptext
    font-size: 1.6rem

// Geocoder
#id_position
  display: none
.geocode-widget__map
  height: 33vh
.geocode-widget__search
  margin-bottom: $m
.geocode-widget__input
  width: auto
  flex-grow: 1
.geocode-widget__geocode-submit
  vertical-align: middle
  text-transform: uppercase
  font-size: 1.8rem
  font-weight: bold
  color: $green
  margin-left: $m
.geocode-widget__geocode-submit:hover
  cursor: pointer
.geocode-widget__search
  display: flex
  align-items: baseline

.disclaimer
  margin-bottom: $m*2
  margin-top: -$m*2
  font-size: 1.6rem
