.item-category
  border-bottom: 2px dashed $green
  padding: $m*2 0
.item-category__name
  color: $green
  text-transform: uppercase
  &:first-of-type
    margin-top: 0
.item-category__content
  font-size: 1.8rem
