// social menu

.site-header
  position: relative
  .left
    text-align: center

.menu-social
  img
    width: 20px
    transition: filter .2s ease
    filter: #3f3f3f
  img:hover
    filter: invert(60%) sepia(99%) saturate(433%) hue-rotate(18deg) brightness(104%) contrast(105%)

.menu-social__item
  display: inline
  &:not(:last-child)
    margin-right: $m/2
