.secondary-navigation
  position: absolute
  left: 0
  bottom: 0
  z-index: 50000
  background: white
  padding: $m/4 $m/2 0 0
  text-transform: uppercase
  
.secondary-navigation__item
  display: inline
  cursor: pointer
  &:not(:first-child)
    margin-left: $m/2