// Menu user
  /templates/menus/menu-user.html

.lang-switcher
  font-size: 1.3rem
  position: relative
  top: 3px
  padding-left: $m
  a:link, a:visited
    color: inherit
  a:hover
    color: $green
  a:active
    color: inherit
    