// Main menu

.menu-main
  margin-top: $m/2
  padding: $m $m 0
  color: #3f3f3f
  text-transform: uppercase
  transition: color .2s ease
  font-size: 1.4rem
.menu-main__items
  margin: 0
  padding: 0
  .menu-main__item
    margin-bottom: $m
  +breakpoint('lg')
    display: flex
    .menu-main__item:not(:last-child)
      margin-right: $m
      margin-bottom: 0
.menu-main__item:hover
  cursor: pointer
  color: darken($red, 10%)
