.site-messages
  position: fixed
  width: 500px
  left: calc(50% - 250px)
  top: 50px
  z-index: 50000
  font-size: 1.6rem
  text-align: center
  max-width: 100%

.site-message--success
  background-color: $green
  color: white
  padding: $m
  transition: opacity .2s ease
  &:hover
    cursor: pointer
    opacity: .5
