.modal
  position: fixed
  // leaflet sets base to 11000
  z-index: 150000

.modal__close
  position: absolute
  z-index: 15000
  top: $m*1.5
  right: $m*2
  width: $m*3
  &:hover
    cursor: pointer

@keyframes swipedown
  0%
    opacity: 0
  100%
    opacity: .9

.modal#workshop
  opacity: .9

.modal.swipe-down
  .modal__close
    right: $m/2
    top: $m/2
  &.visible
    width: 360px
    top: calc(50vh - 180px)
    left: calc(50vw - 180px)
    @media all and (min-width: 640px)
      width: auto
      top: calc(50vh - 320px)
      left: calc(50vw - 320px)
    animation: swipedown 2s ease 1 forwards
  .modal__inner
    padding: $m/2

.modal.swipe-left
  top: 0
  height: 100vh
  left: 100vw
  right: 0
  transition: left .5s ease
  &.visible.width-two-col
    left: 0
    +breakpoint('sm')
      left: 50vw
    +breakpoint('xl')
      left: 60vw
  &.visible.width-three-col
    left: 0
    +breakpoint('sm')
      left: 50vw
    +breakpoint('xl')
      left: 40vw

  // &.section-left.visible
  //   right: 20vw

.modal__inner
  padding: $m*2
  background: white
  max-height: 100vh
  overflow-y: auto

.modal__header
  text-transform: uppercase
  border-bottom: 4px solid #222
  margin: 0 0 $m*4
  padding-right: $m*4

.modal__body
  line-height: 1.35
  padding-bottom: $m
  p:not(:first-child)
    text-indent: $m*4
  p:not(:last-child)
    margin-bottom: 1rem
