.signature
  margin: $m*2 0
  text-align: center
.signature,
.signature__logos
  height: $m*4
.signature__logo
  max-height: $m*6
  vertical-align: middle
  width: auto
  margin-right: $m
  &.pad
    max-height: 50%
