{% extends 'layouts/twocol.html' %} {% load static i18n textblock_tags leaflet_tags humanize %}

{% block html_title %}
    Hasiera
{% endblock %}

{% block body_classes %}
    page page--map
{% endblock %}

{% block header_end %}
    <link rel="stylesheet" href="{% static '/map/js/node_modules/leaflet/dist/leaflet.css' %}" />
{% endblock %}

{% block left %}
{% get_current_language as lang %}
<div class="site-header not-mobile">
    <div class="left">
        <div class="flex-between">
            {% include 'components/menu-langs.html' %}
            {% include 'components/menu-social.html' %}
        </div>
        <img class="site-logo" data-order="0" src="{% static logo_image %}" >
    </div>
    <div class="right">
        {% include 'components/menu-main.html' %}
    </div>
</div>
<div class="timeline-wrapper">
    <div class="timeline">
        {% for item in items %}
        <div class="timeline-item item-{{ item.pk }}" data-pk="{{ item.pk }}">
            <div class="timeline-item__meta {% if item.general == '1' %}star{% endif %}">
                <div class="timeline-item__date"></div>
                {% include 'components/share.html' with pk=item.pk title=item.name %}
            </div>
            {% if item.video %}
            <div class="timeline-item__video">
                <video
                  class="lazy"
                  preload="none"
                  data-src="{{ item.video.url }}"
                  controls
                  type="video/mp4"
                  controlsList="nodownload"
                >
                  <source data-src="{{ item.video.url}}">
                </video>
            </div>
            {% endif %}
            {% if item.name %}
            <h3 class="timeline-item__name">
                {% t item 'name' lang %}
            </h3>
            {% endif %}
            <div class="timeline-item__terms">
                
              {% if item.category %}{% t item.category 'name' lang %}{% endif %}{% if item.other_categories.all %}, {% for cat in item.other_categories.all %}{% t cat 'name' lang %}{% if not forloop.last %},{% endif %} {% endfor %}
                {% endif %}, {{ item.get_state_display }}
            </div>
            <div class="timeline-item__extra">
                <h4 class="timeline-item__person">
                  {% trans 'Propuesta' %}{% if item.person_name %}. {{ item.person_name }}{% endif %}
                </h4>
                <div class="timeline-item__summary">
                    {% t item 'summary' lang %}
                </div>
                {% if item.video_reply or item.video_reply_text %}
                    <h4 class="timeline-item__vireo-reply-label">
                      {% trans 'Respuesta' %}{% if item.name_reply %}. {{ item.name_reply }}{% endif %}{% if item.position_reply %}, {% t item 'position_reply' lang %}{% endif %}
                    </h4>
                    {% if item.video_reply_text %}
                    <div class="timeline-item__video-reply-text">
                        {% t item 'video_reply_text' lang %}
                    </div>
                    {% endif %}
                    {% if item.video_reply %}
                    <div class="timeline-item__video timeline-item__video--reply">
                        <video
                          class="lazy video-reply"
                          preload="none"
                          data-src="{{ item.video_reply.url }}"
                          controls
                          type="video/mp4"
                          controlsList="nodownload"
                        >
                          <source data-src="{{ item.video_reply.url}}">
                        </video>
                    </div>
                    {% endif %}
                {% endif %}
                {% if item.link_helptext %}
                <p class="timeline-item__link-prefix">
                      {% t item 'link_helptext' lang %}
                </p>
                {% endif %}
                {% if item.link_url %}
                <div class="timeline-item__link">
                    <a href="{{ item.link_url }}" target="_blank">
                        {% if item.link_text %}
                            {% t item 'link_text' lang %}
                        {% else %}
                            {{ item.link_url }}
                        {% endif %}
                    </a>
                </div>
                {% endif %}
                <button class="timeline-item__back">
                    {% trans 'Volver atrás' %}
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block right %}
{% get_current_language as lang %}
{% get_navigation as navigation %}
{% textblock 'info' as info_block %}

<div class="site-header mobile">
    <div class="left">
        <img class="site-logo" src="{% static logo_image %}" >
        {% include 'components/menu-social.html' %}
    </div>
    <div class="right">
        {% include 'components/menu-main.html' %}
    </div>
</div>
<div class="map-wrapper">
    {% include 'hood-search.html' %}
    <div id="map" class="full-height">
        <div class="legend">
            <h4 class="legend__label">
                {% t info_block 'title' lang %}
            </h4>
            <p class="legend__help">
                {% t info_block 'content' lang %}
            </p>
            <div class="legend__categories">
            </div>
        </div>
        <ul class="secondary-navigation">
            {% for item in navigation %}
                {% if item.navigation_visibility == '2' %}
                <li class="secondary-navigation__item" data-show="#{{ item.slug }}" data-hide=".modal">
                    {% t item 'title' lang %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% for text in navigation %}
    <div class="modal swipe-left width-two-col" id="{{ text.slug }}">
        <img class="modal__close" data-close="#{{ text.slug }}" src="{% static 'site/img/icons/x.svg' %}" />
        <div class="modal__inner">
            <h2 class="modal__header">
                {% t text 'title' lang %}
            </h2>
            <div class="modal__body one-col">
                {% t text 'content' lang %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer_end %}
    {% if debug_js %}
    <script type="text/javascript" src="{% static '/map/js/dist/vendors~map.js' %}"></script>
    <script type="text/javascript" src="{% static '/map/js/dist/map.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static '/map/js/dist/vendors~map.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/map/js/dist/map.min.js' %}"></script>
    {% endif %}
    {% if form %}
    <script type="text/javascript" src="{% static '/admin/js/vendor/jquery/jquery.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'map/js/node_modules/vanilla-lazyload/dist/lazyload.min.js' %}"></script>
    <script>
        var lazyLoadInstance = new LazyLoad({});
    </script>
{% endblock %}
